[SddmGreeterTheme]
Name=Carbonfox
Description=Gerado a partir da paleta dos dotfiles
Author=Erick Rosa
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=carbonfox
Theme-API=2.0
