# GERADO por `theme` — edite theme/templates/kitty-theme.conf.tmpl
foreground            {{fg}}
background            {{bg}}
selection_foreground  {{fg}}
selection_background  {{sel}}

cursor                {{fg}}
cursor_text_color     {{bg}}

url_color             {{accent}}

active_border_color   {{accent}}
inactive_border_color {{line}}
bell_border_color     {{red}}

active_tab_foreground   {{bg}}
active_tab_background   {{accent}}
inactive_tab_foreground {{fg_dim}}
inactive_tab_background {{bg_high}}

# preto / cinza
color0  {{bg_high}}
color8  {{line}}
# vermelho
color1  {{red}}
color9  {{red}}
# verde
color2  {{green}}
color10 {{green}}
# amarelo (no Carbonfox este slot e teal)
color3  {{yellow}}
color11 {{yellow}}
# azul
color4  {{blue}}
color12 {{blue}}
# magenta
color5  {{magenta}}
color13 {{magenta}}
# ciano
color6  {{cyan}}
color14 {{cyan}}
# branco
color7  {{fg_dim}}
color15 {{fg}}
